FLASK_ENV=development
FLASK_DEBUG=true

TOKENROUTER_BASE_URL=https://api.tokenrouter.com/v1
TOKENROUTER_API_KEY=<your_api_key>
# Currently active
TOKENROUTER_MODEL=qwen/qwen3.8-max-free

# Available later
# TOKENROUTER_MODEL_NEMOTRON=nvidia/nemotron-3-nano-omni-30b-a3b-reasoning-free
# TOKENROUTER_MODEL_DEEPSEEK=deepseek/deepseek-v4-pro-0813-free


